/* General */
/* The switch - the box around the slider */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
  }

  /* html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  } */
  .theme-light {
    /* --color-primary: #0060df; */
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --color-trans: #e0af57;
    --color-control: #2a2c2d;

  }
  .theme-dark {
    /* --color-primary: #17ed90; */
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --color-trans: #e0af57;
    --color-control: #ffffff;

  }
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container h1 {
    color: var(--font-color);
    font-family: sans-serif;
  }
  .container button {
    /* color: var( --color-control); */
    /* background: var(--color-primary); */
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }
  /* The switch - the box around the slider */
  .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }

  input:checked + .slider {
    background-color: #303136;
  }

  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }

/* body{
	background-color: #ffffff;
	background-color: #3e4243;
	 background-image: -webkit-linear-gradient(#f5b84d,#3e4243 ,#000000 );
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
} */
h1{
    color: #f0ffff;
}

*{
    font-family: 'Roboto';
}
header{
    background-color: #f0ffff;
    border-bottom: 1px solid #ccc;
}
.row{
    margin: 0;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;

}

.container-fluid{
    padding: 0;
}
.btn-primary{
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover{
    background-color: #c28008;
    border-color: #f2a340;
}
/* nav bar */

#navbar img{
   width: 50px;
}
#navbar {
    background-color: azure;
    border-style: double;
    justify-content: space-between;
    padding: 5px 0;
    background-color: #e0af57;
}
#navbar a{
    font-size: 14px;
    color:#757575
}
#navbar a:hover{
    color:#f2a340;
}
#navbar li {
    border-bottom-style:groove;
    border-top-style:groove;

}
#navbar li :hover{
    background-color: #3e4243;
    transition: 1s;
    transition-delay: 0.1s;
}
a.nav-link{
    background: #e0af57;
}
a.navbar-brand, img#img_logo{
    background: #e0af57;

}
nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #000000;
}

/* search container */

#search-container{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;

}

#search-container h1{
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}
#search-header-container{
    background-size: cover;
    background-position: center;
    /* height: 400px; */
    padding-left: 85px;
    width: 555px;
    /* text-align: center; */

}



#search-header-container form{
    width: 50%;
    margin: 0 auto;
}

/* Events list */

#events-container{
    padding: 50px;
    /* display: flex; */

}
.form-group {
    margin-top: 20px;
}
/* Events list */
#events-container {
    padding: 50px;
  }

  #events-container h2 {
    margin-bottom: 10px;
  }

  #events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
  }

  #cards-container {
    display: flex;
  }

  #events-container .card {
    flex: 1 1 24%;
    max-width: 24%;
    border-radius: 10px;
    padding: 0;
    margin: .5px;
  }

  #events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card .card-date {
    font-size: 12px;
    color: #CCC;
  }
  p.card-date {
    color: #000000;
  }

  .card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .card-participants {
    font-size: 14px;
    color: #757575;
  }

  /* Event create page */
  #event-create-container {
    padding: 30px
  }

  #event-create-container label {
    font-weight: bold;
  }

  #event-create-container input,
  #event-create-container select,
  #event-create-container textarea {
    font-size: 12px;
  }

  /* Event Page */

#image-container,
#info-container{
    margin-top: 30px;
}
#image-container img{
    border-radius: 10px;

}

#info-container{
    font-size: 36px;
    font-weight: 900;
}

#info-container p{
    margin: 0;
    font-size: 14px;
    display: flex;
}
#description-container{
    margin-top: 30px;
}
#info-container h3,
#description-container h3{
    font-size: 20px;
    font-weight: bold;
}
#info-container ion-icon{
font-size: 20px;
margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#item-list{
    padding: 0;
    list-style: nome;
}

#item-list li{
    display: flex;
}

/* dashboard */

.dashboard-title-container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.dashboard-events-container th{
    width: 25%;
}
td#acoes {
    display: flex;
}

/* CARD */

.card .card-date {
    font-size: 12px;
    color: #CCC;
  }

  .card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .card-participants {
    font-size: 14px;
    color: #757575;
  }

  input[type="file"] {
     display: none;
}
input#image {
    padding: 10px 10px;
    width: 200px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
.img-preview{
    width: 200px;
    margin-top: 20px;
}
/* edit-page */

/* footer */

footer{
    text-align: center;
    background-color: #353E48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
   margin-bottom: 0;
}

@media (prefers-color-scheme: dark){
    /* Dark mode */

}
@media  (prefers-color-scheme: light){

}

.carousel-inner{
    width: 945px;
    height: 774px;
    margin-left: 510px;
    margin-top: 20px;
    margin-right: 450px;
}
.carousel-control-prev{

}

.carousel-control-next{

}

