/* General */
body{
    background: #6b6b6b;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}
h1{
    color: #f0ffff;
}

*{
    font-family: 'Roboto';
}
header{
    background-color: #f0ffff;
    border-bottom: 1px solid #ccc;
}
.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}
.btn-primary{
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover{
    background-color: #c28008;
    border-color: #f2a340;
}
/* nav bar */

#navbar img{
   width: 50px;
}
#navbar {
    background-color: azure;
    border-style: double;
    justify-content: space-between;
    padding: 5px 0;
}
#navbar a{
    font-size: 14px;
    color:#757575
}
#navbar a:hover{
    color:#f2a340;
}
#navbar li {
    border-bottom-style:groove;
    border-top-style:groove;

}
#navbar li :hover{
    background-color: rgb(11, 255, 255);
    transition: 1s;
    transition-delay: 0.1s;
}
a.nav-link{
    background: azure;
}
a.navbar-brand, img#img_logo{
    background: azure;

}

/* search container */

#search-container{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;

}

#search-container h1{
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

/* Events list */

#events-container{
    padding: 50px;
}

#events-container h2{
    margin-bottom: 10px;
}

#events-container .subtitle{
    color: #757575;
}

.cards-container{
    display: flex;
}

#events-container card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#events-container img{
    max-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: #ccc;
}

.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participantes{

}
/* footer */

footer{
    text-align: center;
    background-color: #353E48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
   margin-bottom: 0;
}

@media (prefers-color-scheme: dark){
    /* Dark mode */

}
@media  (prefers-color-scheme: light){

}

.carousel-inner{
    width: 945px;
    height: 774px;
    margin-left: 510px;
    margin-top: 20px;
}
.carousel-control-prev{

}

.carousel-control-next{

}

